<div class="row" class="spinner_centrado" *ngIf="cargaCompletada == false">
    <h4>Cargando información de Zalando...</h4>
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="cargaCompletada == true">
    <div class="filters">
        <div class="row">

            <div class="col-lg-4 col-sm-12">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput (input)="onInputChanged($event)">
                </mat-form-field>
            </div>

            <div class="col-lg-4 col-sm-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Marca</mat-label>
                    <input type="text" aria-label="Number" matInput formControl="marcaControl" [matAutocomplete]="auto">

                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                        (optionSelected)="onOptionSelected($event)">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
            </div>

            <div class="col-lg-4 col-sm-12">
                <mat-form-field>
                    <mat-label>Otros Filtros</mat-label>
                    <mat-select [(value)]="selected" (selectionChange)="onOptionOtrosSelected()">
                        <mat-option value=""></mat-option>
                        <mat-option value="mejoresOfertas">Ordenar por mejores ofertas</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4 col-sm-12" *ngFor='let zapato of displayedItems'>

            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-subtitle>
                            {{zapato.name}}
                        </mat-card-subtitle>
                        <mat-card-subtitle>
                            <small class="text-muted">{{zapato.brand}}</small>
                        </mat-card-subtitle>
                        <!--<mat-card-subtitle>
                        <button mat-button>
                            <a href={{zapato.link}} mat-raised-button color="primary">Visitar Zalando</a>
                        </button>
                    </mat-card-subtitle>-->

                        <mat-card-subtitle>
                            <div>
                                <h4>
                                    {{zapato.precio_actual}}€ <small
                                        class="text-muted">{{zapato.diferencia_porcentual.toFixed(2)}}%</small>
                                </h4>
                            </div>

                        </mat-card-subtitle>

                        <div *ngIf="showThumbnail">
                            <img class="image-card" mat-card-image (click)="showFullImage(zapato.imagen)"
                                src={{zapato.imagen}} alt="Zapato">
                        </div>

                        <div *ngIf="!showThumbnail" (click)="showThumbnail = true" class="full-image-overlay">
                            <img class="full-image" src={{urlImage}} alt="Zapato" (click)="showThumbnail = true"
                                (click)="$event.stopPropagation()">
                        </div>


                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button>
                        <a href={{zapato.link}} mat-raised-button color="primary">Visita Zalando</a>
                    </button>
                    <button mat-button>
                        <a href="dashboard/detalles/{{zapato._id}}" mat-raised-button color="primary">Detalles</a>
                    </button>
                </mat-card-actions>

            </mat-card>

        </div>
    </div>

    <div>
        <mat-paginator [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="filteredItems.length"
            (page)="onPageChange($event)">
        </mat-paginator>
    </div>

</div>