<mat-card>
    <mat-card-content>

        <div class="d-flex flex-wrap">
            <mat-card-title>Historico de precio</mat-card-title>
        </div>

        <div *ngFor='let precio of preciosData'>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <p class="text-muted">{{formatDate(precio.date)}}</p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <p class="text-muted">{{precio.price}} €</p>
                </div>
            </div>

        </div>
    </mat-card-content>
</mat-card>