<div class="row">
    <div class="col-lg-12 col-sm-12">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{zapatoSelect.producto.name}}</mat-card-title>
                    <mat-card-subtitle>
                        {{zapatoSelect.brand}}
                    </mat-card-subtitle>
                    <mat-card-subtitle>
                        <div>
                            <small class="text-muted">{{zapatoSelect.producto.brand}}</small>
                        </div>
                        <div>
                            <small class="text-muted">Color: {{zapatoSelect.producto.color}}</small>
                        </div>
                    </mat-card-subtitle>

                    <mat-card-subtitle>
                        <div>
                            <h4>
                                {{zapatoSelect.estadisticasPrecios.precioActual}}€ <small class="text-muted">{{zapatoSelect.estadisticasPrecios.porcentajeCambio}}%</small>
                            </h4>
                        </div>
                        
                    </mat-card-subtitle>

                    <mat-card-subtitle>
                        <button mat-button>
                            <a href={{zapatoSelect.producto.link}} mat-raised-button color="primary">Visitar Zalando</a>
                        </button>
                    </mat-card-subtitle>
                    
                    <img class="image-card" mat-card-image src={{zapatoSelect.producto.imagen}} alt="Zapato">
                </mat-card-title-group>
            </mat-card-header>

        </mat-card>

    </div>
</div>

<div class="row">
    
    <div class="col-lg-3 col-sm-12">
        <mat-card class="custom-card-red">
            <mat-card-content class="card-content">
                <div class="number">{{zapatoSelect.estadisticasPrecios.precioMaximo}} €</div>
                <div class="title">Precio mas alto</div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-lg-3 col-sm-12">
        <mat-card class="custom-card-green">
            <mat-card-content class="card-content">
                <div class="number">{{zapatoSelect.estadisticasPrecios.precioMinimo}} €</div>
                <div class="title">Precio mas bajo</div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-lg-3 col-sm-12">
        <mat-card class="custom-card-blue">
            <mat-card-content class="card-content">
                <div class="number">{{zapatoSelect.estadisticasPrecios.precioMedio}} €</div>
                <div class="title">Precio medio</div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-lg-3 col-sm-12">
        <mat-card class="custom-card-blue">
            <mat-card-content class="card-content">
                <div class="number">{{zapatoSelect.estadisticasPrecios.numeroRegistros}}</div>
                <div class="title">Registros de precios</div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row">

    <!-- column -->
    <div class="col-lg-6 col-sm-12">
        <app-listado-precios></app-listado-precios>
    </div>
    <!-- column -->

    <!-- column -->
    <div class="col-lg-6 col-sm-12">
        <app-grafico-precios></app-grafico-precios>
    </div>
    <!-- column -->


</div>