.image-card {
    max-width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.custom-card-red {
    background-color: #ff0000;
    /* Color azul */
    color: white;
    /* Color del texto */
    text-align: center;
    padding: 40px;
}

.custom-card-green {
    background-color: #00ff37;
    /* Color azul */
    color: white;
    /* Color del texto */
    text-align: center;
    padding: 40px;
}

.custom-card-blue {
    background-color: #007bff;
    /* Color azul */
    color: white;
    /* Color del texto */
    text-align: center;
    padding: 40px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.title {
    font-size: 14px;
    font-weight: 300;
}