<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->

<div class="row">

  <!-- column -->
  <div class="col-lg-12 col-sm-12">
    <app-listado-zapatos></app-listado-zapatos>
  </div>

</div>

<!--<div class="row">

  <div class="col-lg-6 col-sm-12">
    <app-sales-overview></app-sales-overview>
  </div>
  
  <div class="col-lg-6 col-sm-12">
    <app-our-visiter></app-our-visiter>
  </div>
</div>-->

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<!--<div class="row">
  
  <div class="col-lg-3 col-sm-12">
    <app-profile></app-profile>
    <app-contacts></app-contacts>
  </div>
  
  <div class="col-lg-9 col-sm-12">
    <app-activity-timeline></app-activity-timeline>
  </div>
</div>-->
